@(block: Trailblock)(implicit request: RequestHeader)


<div data-link-name="front block @block.description.name">

    @if(block.description.id == "") {
        @fragments.headline(block.description.name)
    } else {
        <a data-link-name="heading link" href="/@block.description.id">@fragments.headline(block.description.name)</a>
    }
    
    <div class="trailblock show-@block.description.numItemsVisible">
        @defining(block.trails.length){ numTrails =>
            <ul class="unstyled">
                @block.trails.take(block.description.numItemsVisible).zipWithRowInfo.map{ case (trailWithPackage, info) =>


                @if(block.description.name == "Top stories" && info.rowNum == 2 && Apple.blog.isDefined){

                     <div class="trailblock trailblock-shaded component" id="apple">
                         <ul class="unstyled">
                            <div class="media b2 component">
                                <h3>
                                    <a href="/technology/apple">Apple launch</a>
                                    @Apple.stockPrice.map{ price => <span class="stock">AAPL: $@price</span>}
                                    <i class="i-apple-icon"></i>
                                </h3>
                                @Apple.blog.map{ blog=>
                                <div class="latest-para">
                                    @Apple.blogPara.map{ text =>
                                        @withJsoup(text)(
                                            InBodyLinkCleaner,
                                            BlockNumberCleaner
                                        )
                                    }
                                </div>
                                }
                            </div>
                        @Apple.blog.map{ blog =>
                            <li class="b2">
                                <p class="trail-headline"><a href="@blog.id">Latest</a></p>
                            </li>
                        }

                        @Apple.trails.map{ trail =>
                            <li class="b2">
                                <p class="trail-headline"><a href="/@trail.id">@trail.linkText</a></p>
                            </li>
                        }
                         </ul>
                     </div>
                    }

                    <li>
                        @* top of if statement is for AB test *@
                        @if(trailWithPackage.layout == "impact" && ABTest(request).isB) {
                            @fragments.formatImpactTrail(trailWithPackage)
                        } else {
                            @fragments.formatTrail(trailWithPackage.trail, info)
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>